* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  align-items: stretch;
  grid-template-areas: "header header header header" "foto catalogo comunidad promociones" "marcas catalogo comunidad promociones" "footer footer footer footer";
  background-color: #EED6D3; }
  .container .header {
    grid-area: header; }
  .container .catalogo {
    grid-area: catalogo; }
  .container .comunidad {
    grid-area: comunidad; }
  .container .footer {
    grid-area: footer; }
  .container .promociones {
    grid-area: promociones; }
  .container .marcas {
    grid-area: marcas; }
  .container .foto {
    grid-area: foto; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../multimedia/Background/header.png);
  background-size: cover; }
  .header .logo {
    height: 150px;
    width: 150px;
    align-items: center;
    border-radius: 20%;
    transition: all 1s ease;
    margin: 10px; }
    .header .logo:hover {
      transform: scale(1.1); }
  .header .navheader ul li {
    display: inline-block;
    margin: 10px; }
    .header .navheader ul li a {
      text-decoration: none;
      color: black;
      font-size: 25px;
      font-family: "Merienda One", cursive;
      transition: all 1.5s ease; }
      .header .navheader ul li a:hover {
        color: white; }

.catalogo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../multimedia/Background/backcontacto.png);
  background-size: cover; }
  .catalogo a {
    text-decoration: none;
    color: white;
    font-family: "Merienda One", cursive;
    font-size: 30px;
    transition: all 1.5s ease; }
    .catalogo a:hover {
      transform: scale(1.2); }
  .catalogo p {
    color: white;
    text-align: center;
    font-family: "Alegreya SC", serif; }

.comunidad {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(../multimedia/Background/back1.png);
  background-size: cover; }
  .comunidad a {
    text-decoration: none;
    color: white;
    font-family: "Merienda One", cursive;
    font-size: 30px;
    transition: all 1.5s ease; }
    .comunidad a:hover {
      transform: scale(1.2); }
  .comunidad p {
    color: white;
    text-align: center;
    font-family: "Alegreya SC", serif; }

.promociones {
  background-image: url(../multimedia/Inicio/oferta.png);
  background-size: cover;
  opacity: .3;
  transition: all 1.5s ease; }
  .promociones:hover {
    opacity: 1; }

.foto {
  display: flex;
  justify-items: center;
  justify-content: center; }
  .foto img {
    height: 350px;
    width: 350px;
    opacity: .3;
    transition: all 1.5s ease; }
    .foto img:hover {
      opacity: 1; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #67595E;
  font-family: "Alegreya SC", serif; }
  .footer .pagos p {
    text-align: center; }
  .footer .redes p {
    text-align: center; }
  .footer .redes .redes__a {
    text-decoration: none;
    color: black; }

.bodycat {
  background-color: #EED6D3; }

.section1 {
  height: 100px; }

.section1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: "Merienda One", cursive;
  background-color: #EED6D3; }
  .section1 .section1__nav ul li {
    display: inline-block;
    padding: 5px;
    transition: all 1.5s ease; }
    .section1 .section1__nav ul li:hover {
      transform: scale(1.1); }
    .section1 .section1__nav ul li a {
      text-decoration: none;
      color: black; }

.section2 {
  margin: 10px;
  background-color: #EED6D3; }
  .section2 h1 {
    font-family: "Merienda One", cursive;
    margin: 10px; }
  .section2 h2 {
    font-family: "Alegreya SC", serif;
    margin: 10px; }
  .section2 .vinos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .section2 .vinos .imgv {
      height: 150px;
      opacity: .8;
      transition: all 1s ease; }
      .section2 .vinos .imgv:hover {
        opacity: 1; }
    .section2 .vinos p {
      text-align: center;
      font-family: "Alegreya SC", serif; }

.padre__com {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #EED6D3; }

.padre__comsection form {
  font-family: "Alegreya SC", serif;
  justify-items: center;
  text-align: center; }

.padre3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px;
  background-color: #EED6D3; }
  .padre3 .section3 {
    height: 280px;
    background-color: #67595E;
    text-align: center;
    justify-content: center;
    font-family: "Alegreya SC", serif;
    margin: 40px;
    transition: all 1.5s ease;
    opacity: 0.5; }
    .padre3 .section3:hover {
      opacity: 1; }
    .padre3 .section3 p {
      text-align: center;
      font-size: 25px; }

@media only screen and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 1fr 1fr 1fr 1.5fr 0.5fr 1fr;
    grid-auto-columns: 1fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    align-items: stretch;
    grid-template-areas: "header" "catalogo" "comunidad" "promociones" "foto" "footer";
    background-color: #EED6D3; }
  .navheader {
    justify-items: left; }
  .navheader ul li {
    display: block;
    margin: 10px; }
  .section1__nav ul {
    display: flex;
    flex-direction: row; }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .section3 {
    height: 150px; }
  .section3 h1 {
    font-size: 20px; }
  .section3 p {
    font-size: 15px; }
  .padre__com {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .imgcom {
    height: 300px;
    width: 200px; }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #67595E;
    font-family: "Alegreya SC", serif; } }
